<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate registration</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/certificate_styles.css">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/drag.css">
</head>

<body>
    <!-- Side Bar -->
    <%- include("./../components/sidebar") %>

        <!-- Body -->
        <div class="bodyContainer">

            <!-- Navbar -->
            <%- include("./../components/header") %>

                <div class="container col-lg-12" style="max-width: 730px;">
                    <h1 class="text-center mb-5">Handles Registration</h1>
                    <form action="/certificate-registration" method="post">
                        <div class="input-group mb-3">
                            <input type="text" name="codechef" class="form-control" aria-label="Sizing example input"
                                placeholder="Codechef" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <input type="text" name="hackerrank" class="form-control" aria-label="Sizing example input"
                                placeholder="Hackerrank" aria-describedby="inputGroup-sizing-default">
                                <button type="submit">Submit</button>
                    </form>
                </div>


        </div>

        <script src="/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>


        <!-- Drag and drop -->
        <script src="/js/dragscript.js"></script>

</body>

</html>